<div class="introtext">
    <h1>Intro text</h1>
    <h3>Do you want to shape your body and burn fat?</h3>

    <p>
        If your answer is yes, all you need to do is to use the fitness application on your device.<br/><br/>
        * 400+ exercises.<br/>
        * Easy to Use.<br/>
        * Ready Trainings.<br/>
        * BMI Calculator.<br/>
        * Personal Trainers and many more.<br/>
    </p>
</div>
<div>
    <button class="bigbutton" (click)="navpage()">Apply For Trainer</button>
</div>